<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home 1 | Learning Rails</title>
</head>
<body>
<h1>Suisei gáy to vl(P >w<)P</h1>

</body>
</html>
